.container {
	display: block;
	font-size: 100%;
	padding: 0 10px;
}

header {
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: 10px auto;
}

nav {
	display: block;

	ul {
		list-style: disc;
		margin-left: 20px;

		li {
			margin-bottom: 5px;
		}
	}
}

.content {
	font-size: 1.2em;
	margin: 10px auto;
	padding: 10px;
	background-color: aliceblue;
}

