.ExploreNotSignedIn {
    div{
        height: 500px;

        
    }
    #Explore-NSI-hero{
        background-color: black;
        h1{
            size: 20px;
            color: white;
        }
    }
}