.explore {
    width: 100%;
    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    // 
    padding: 10px;
    font-size: 1rem;

    &__title {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;

        &--primary {
            font-size: 4em;
            margin: 200px 0;
        }
        
        &--secondary {
            font-size: 3em;
        }
    }

    &__features {
        display: block;
        text-align: center;
        margin: 50px auto;
        width: 100%;
        font-size: 1.5em;
    }

    &__cta {
        margin: 15px auto;

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.5em;
        }
    }
}