#explore-hero form {
    text-align: center;
    height: 300px;
    
    
}

#Explore-NSI-hero, #ExploreFeatures, #ExploreSignUp{
    height: 400px;
<<<<<<< HEAD
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;  
=======
    text-align: center;    
>>>>>>> 0f9b6e78f292ca1bfe2483c1eb4a3b6509775f1b
}
#sign-up-button{
    height: 20px;
}