#explore-hero form {
    text-align: center;
    height: 300px;
    
    
}

#Explore-NSI-hero, #ExploreFeatures, #ExploreSignUp{
    height: 400px;
    text-align: center;    
}
#sign-up-button{
    height: 20px;
}