#ratio-box{
    display: flex;
    margin:auto;
    width:50%;

}



.title{
    margin-bottom: 5%;
    text-align:center;

}

.percent{
    font-weight: bold;
    font-size: 230%;
    padding: 10%;
    padding-left: 35%;

}
#percent-box-left{
    width: 50%;
    border: solid black ;
    border-width: 2px 1px 2px 2px;

}

#percent-box-right{
    width: 50%;
    border: solid black;
    border-width: 2px 2px 2px 1px;

}